* {
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: chewy;
    src: url(../font/chewy.ttf);
}
body {
    background: url(../img/bg.jpg) center center fixed;
    font-family: sans-serif;
}
#menu {
    background: url(../img/menu.png) no-repeat;
    background-size: 60px 40px;
    /*width: 60px;*/
    height: 40px;
    /*display: inline;*/
}
#menu a{
    margin-left: 50px;
    color: white;
    line-height: 40px;
}
#bar {
    background: #333 center;
    padding: 10px;
}
.box {
    margin: 50px auto;
    width: 800px;
    /*position: relative;*/
}
h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: chewy;
    font-size: 44px;
}
h2 {
    display: inline;
}
.box select{
    width: 100%;
    /*height: 100%;*/
    /*overflow: hidden;*/
    font-size: 1.6em;
    padding: 25px;
    background: rgba(255,255,255,0.5);
    border: 0;
}
.box select option:before {
    content: "- ";
}
.box select option {
    margin:30px;
}
.form {
    border: 5px solid #333;
    /*position: relative;*/
}
.form input[type=text]{
    width: 740px;
    /*height: 100px;*/
    /*overflow: hidden;*/
    font-size: 1.6em;
    padding: 25px;
    background: rgba(255,255,255,0.5);
    border: 0;
}
img {
    width: 800px;
    margin: 10px;
    float: left;
}
#submit {
/*    position: absolute;
    right: 0;
    top: 100%;*/
    width: 100%;
    text-transform: uppercase;
    font-family: chewy;
    background: #D9BE1A;
    padding: 14px;
    border: 0;
    font-size: 24px;
    color: #000;
}
#submit:hover {
    background: #A4801E;
    color: white;
}
#submit:active {
    background: #7A714F;
}



/*sfsajdghsadvjsad v djhd sadvsajd*/
.gambar {
    position: relative;
}
.gambar input[type=text]{
    width: 120px;
    height: 70px;
    font-size: 30px;
    text-align: center;
}
.gambar input[type=submit] {
    width: 100px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.form-submit-persegi {
    position: absolute;
    right: -30px;
    top: 330px;
}
.form-input-persegi {
    position: absolute;
    right: 70px;
    top:330px;
}
.form-input-persegi_panjang input[name=lebar]{
    position: absolute;
    right: -30px;
    top: 240px;
}
.form-input-persegi_panjang input[name=panjang]{
    position: absolute;
    top: 50px;
    right: 340px;
}
.form-submit-persegi_panjang {
    position: absolute;
    right: -130px;
    top: 240px;
}
.form-input-segitiga input[name=tinggi] {
    position: absolute;
    width: 100px;
    right: 250px;
    top: 370px;
}
.form-input-segitiga input[name=alas] {
    position: absolute;
    left: 290px;
    top: 640px;
}
.form-input-segitiga input[name=sisi] {
    position: absolute;
    right: 550px;
    top: 270px;
}
.form-submit-segitiga input[type=submit]{
    position: absolute;
    right: 278px;
    top: 640px;
}

.form-input-trapesium input[name=tinggi] {
    position: absolute;
    left: 270px;
    top: 250px;
}
.form-input-trapesium input[name=alas] {
    position: absolute;
    top: 470px;
    left: 290px;
}
.form-input-trapesium input[name=sisi_a] {
    position: absolute;
    top: 24px;
    left: 340px;
}
.form-input-trapesium input[name=sisi_b] {
    position: absolute;
    top: 240px;
    left: 25px;
}
.form-submit-trapesium {
    position: absolute;
    top: 470px;
    left: 426px;
}
.form-input-belah_ketupat input[name=diagonal_1] {
    position: absolute;
    top: 250px;
    height: 50px;
    width: 170px;
    left: 410px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    border: 3px solid #0EFFFF;
    border-radius: 4px;
}
.form-input-belah_ketupat input[name=diagonal_2] {
    position: absolute;
    top: 500px;
    left: 220px;
    height: 50px;
    width: 170px;
    border: 3px solid #0FFF00;
    border-radius: 4px;
}
.form-input-belah_ketupat input[name=sisi] {
    position: absolute;
    top: 350px;
    left: 180px;
    height: 50px;
    transform: rotate(-52deg);
    transform-origin: left top 0;
}
.form-submit-belah_ketupat {
    position: absolute;
    top: 370px;
    left: 456px;
}
#hasil {
    position: absolute;
    left:230px;
    top: 180px;
    width: 450px;
}
#hasil span {
    background: #458A1D;
    padding: 8px;
    display: block;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 10px 0 0 0;
    border-radius: 10px;
    color: white;
    width: 200px;
}
#hasil-segitiga {
    position: absolute;
    left:570px;
    top: 180px;
    width: 450px;
}
#hasil-segitiga span{
    background: #999346;
    padding: 8px;
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    color: white;

}
#hasil-trapesium {
    position: absolute;
    right:-70px;
    top: 180px;
    width: 450px;
}
#hasil-trapesium span{
    background: #042029;
    padding: 8px;
    display: block;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 10px 0 0 0;
    border-radius: 10px;
    color: white;
    width: 200px;

}
#hasil-belah_ketupat {
    position: absolute;
    right:-230px;
    top: 590px;
    width: 450px;
}
#hasil-belah_ketupat span{
    background: #042029;
    padding: 8px;
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    color: white;

}
.notif{
    clear: both;
    position: fixed;
    bottom: 0;
    right: 0;
}
.gagal {
    background: red;
    padding: 10px;
    color: white;
}
